body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url(image/snake-game-.jpg);
  background-size: 100vw 100vh;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}

#play-again-btn {
  margin-top: 10px;
  padding: 10px 20px;
  font-size: 16px;
  font-weight: bold;
  background: linear-gradient(to right, #66bb6a, #ffa726);
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  transition: background 0.3s ease, transform 0.2s ease;
}
#play-again-btn:hover {
  background: linear-gradient(to right, #81c784, #ffb74d);
  transform: scale(1.05);
}
