body {
  font-family: Arial, Helvetica, sans-serif;
  text-align: center;
  background: url(image/snake-game-.jpg);
  background-size: 100vw 100vh;
}

h1 {
  font-weight: bold;
  text-transform: uppercase;
}
